@model IEnumerable<ListUserViewModel>
@{
    ViewData["Title"] = "All Users";
}

<h2>@ViewData["Title"]</h2>

<a href="/identity/create" class="btn btn-primary">Add User</a>

<table class="table table-bordered table-hover">
    <tr>
        <th>Username</th>
        <th>E-mail</th>
        <th></th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <th>@user.UserName</th>
            <th>@user.Email</th>
            <th>
                <a href="/identity/roles/@user.Id" class="btn btn btn-default">View Roles</a>
            </th>
        </tr>
    }
</table>

